<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ShareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true">

        <service
            android:name=".services.DiscoveringTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_tile_discovering_disabled"
            android:label="@string/tile_scanning_default"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.DiscoverService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".services.DiscoverableTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_tile_discoverable_disabled"
            android:label="@string/tile_discoverable_default"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.ReceiveService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Settings" />
        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Share" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shared.ui.AcceptationRequestActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Share" />

        <receiver
            android:name=".ShareBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.exthmui.share.intent.action.ENABLE_DISCOVER" />
                <action android:name="org.exthmui.share.intent.action.DISABLE_DISCOVER" />
                <action android:name="org.exthmui.share.intent.action.ENABLE_RECEIVER" />
                <action android:name="org.exthmui.share.intent.action.DISABLE_RECEIVER" />
                <action android:name="org.exthmui.share.intent.action.START_DISCOVER" />
                <action android:name="org.exthmui.share.intent.action.STOP_DISCOVER" />
                <action android:name="org.exthmui.share.intent.action.START_RECEIVER" />
                <action android:name="org.exthmui.share.intent.action.STOP_RECEIVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.exthmui.share.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>